<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- ROS CONTROL GAZEBO PLUGIN -->
    <xacro:macro name="ros2_control_plugin">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <namespace>/rb1_robot</namespace>
                <parameters>$(find rb1_ros2_description)/config/robot_controllers_config.yaml</parameters>
            </plugin>
        </gazebo>
	</xacro:macro>

	<xacro:macro name="gazebo_colors" params="prefix">
		<gazebo reference="$(arg prefix)base_footprint">
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="$(arg prefix)base_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="$(arg prefix)front_cover_link">
			<material>Gazebo/Black</material>
		</gazebo>
	</xacro:macro>
</robot>
